
:root{
    --primary-color: #54E6AF; 
    --background-color: #121725; 
    --white:#FFFFFF;
    --gray-light: #C2CBE5; 
    --gray-medium: #5A668A; 
    --gray-dark: #2C344B;
}


*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Chivo", sans-serif;
    background-color: var(--background-color);
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url('./imgs/bg-img.png');
    background-repeat: no-repeat;
    background-position: right;
}


section{
    max-width: 1275px;
    width: 100%;
    padding: 39px;
    position: relative;
    
}

main{
    
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    max-width: 723px;
    width: 100%;
    padding: 88px 58px 0px 0px;
    margin-top: 103px;
}

main h1{
    color: var(--primary-color);
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 24px ;
}

main h1 span{
    color: var(--white);
}


main p{
    font-size: 18px;
    font-weight: 300;
    color: var(--gray-light);
    margin-bottom: 40px;
    max-width: 445px;
    line-height: 28px;

}

form .campo-container{
    max-width: 427px;
    width: 100%;
    height: 56px;
    background: var(--gray-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    gap: 5px;
    padding: 5px;
}

form .campo-container input{
    height: 56px;
    background: var(--gray-dark);
    max-width: 100%;
    width: 100%;
    padding-left: 27px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    
}

input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

form .campo-container input::placeholder{
    font-size: 14px;
    color:var(--gray-light);
}

form .campo-container button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    min-width: 162px;
    height: 46px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s ease;
}

form .campo-container button:hover{
    background-color:#B3FFE2;
    transition: 0.5s ease;
   
}

.msg-campo{
    margin-top: 8px;
    padding-left: 32px;
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 700;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}




.msg-campo.active {
    display: flex;
    opacity: 1;
    color: #FB3E3E;
}

.msg-campo.enviado {
    display: flex;
    opacity: 1;
    
}

.logos-canais-container{
    display: flex;
    align-items: center;
    margin-top: 42px;
    gap: 42px;
}

.detalhe-bolas{
    position: absolute;
    right: 0;
    bottom: -10px;
    
}


@media screen and (min-width:768px) and (max-width:1203px) {
    main{
        padding: 88px 58px 20px 39px;
    }

    main h1{
        font-size: 42px;
    }
    .detalhe-bolas{
        position: absolute;
        right: initial;
        bottom: -153px;
        left: 30px;
       
    }
    
}



@media screen and (max-width:767px) {
  
    body{
        background-position: center;
        background-size: cover;
    }

   section{
        background-position: center;
        background-size: cover;
        background: #121725de;
        padding: 39px 25px;
        
   }

   .logo{
        display: flex;
        justify-content: center;
    }


   main{
     background: none;
     padding: 0px;
   }

   main h1{
    text-align:center;
    font-size:38px;
   }
    
   main p{
    text-align: center;
    margin: 0px auto 33px;
   }

   form{
    order: 2;
   }

   form .campo-container{
      background: none;
      flex-direction: column;
      height: initial;
      gap: 16px;
      margin: 0 auto;
   }

   form .campo-container input{
      border-radius: 50px;
      padding: 0px 27px;
    
   }

   form .campo-container button{
       width: 100%;
   }

   .logos-canais-container{
        margin-top: 0px;
        margin-bottom: 42px;
        gap: 10px;
        justify-content: center;
   }

   .msg-campo{
        text-align: center;
        display: flex;
        padding: 0px;
        justify-content: center;
    
   }
    

   .detalhe-bolas{
       
     display: none;
    }
}




